*,
*::before,
*::after {
	box-sizing: border-box;
}
/*Custom Properties*/

:root {
	--ff-primary: "Source Sans Pro", sans-serif;
	--ff-secondary: "Source Code Pro", monospace;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #fffafa;
	--clr-dark: #141821;
	--clr-accent: ;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.7em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

html {
	scroll-behavior: smooth;
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/*General*/

body {
	margin: 0;
	font-family: candara;
	font-size: var(--fs-body);
	color: var(--clr-light);
	background-color: var(--clr-dark);
	text-decoration: none;
}

h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}

img {
	display: block;
	max-width: 100%;
}

section {
	padding: 5em 2em;
}

strong {
	font-weight: var(--fw-bold);
}

/*Typography*/

.section__title {
	margin-bottom: 0.25em;
}

.section__title--intro {
	margin-bottom: 0.25em;
	font-weight: var(--fw-reg);
}

.section__title--intro strong {
	display: block;
}

/*logo*/

.logo {
	font-family: "Parisienne", serif;
	font-size: var(--fs-h1);
	color: var(--clr-light);
	padding: 0.5em 0.5em 0.5em 0.5em;
}

/*navigation-bar*/

.nav-bar {
	position: fixed;
	color: var(--clr-light);
	background-color: var(--clr-dark);
	top: 0;
	bottom: 1;
	left: 0;
	right: 0;
	padding: 3em;
	z-index: 100;
	transform: translate(100%);
	transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-list {
	list-style: none;
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav-link {
	color: inherit;
	font-weight: var(--fw-bold);
	font-size: var(--fs-h3);
	text-decoration: none;
}

.nav-link:hover {
	color: var(--clr-accent);
}

.nav-toggle {
	padding: 2.5em;
	background: transparent;
	border: 0;
	cursor: pointer;
	position: fixed;
	right: 2em;
	top: 1em;
	z-index: 1000;
}

.nav-open .nav-bar {
	transform: translateX(0);
}

.nav-open .nav-toggle {
	position: fixed;
}

.nav-open .hamburger {
	transform: rotate(0.625turn);
}
.nav-open .hamburger::before {
	transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
	opacity: 0;
}

.hamburger {
	display: block;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	background: var(--clr-light);
	width: 2em;
	height: 3px;
	border-radius: 1em;
	transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
}

.hamburger::before {
	top: 6px;
}
.hamburger::after {
	bottom: 6px;
}

/*Intro section*/

.intro {
	position: relative;
}

.intro__img {
	box-shadow: var(--bs);
}

.section__subtitle--intro {
	display: inline-block;
}

@media (min-width: 600px) {
	.intro {
		display: grid;
		width: min-content;
		margin: 0 auto;
		grid-column-gap: 1em;
		grid-template-areas:
			"img tile"
			"img subtitle";
		grid-template-columns: min-content max-content;
	}

	.intro__img {
		grid-area: img;
		min-width: 250px;
		position: relative;
		z-index: 2;
	}
	.section__subtitle--intro {
		align-self: start;
		grid-column: -1/1;
		grid-row: 2;
		text-align: right;
		position: relative;
		left: -1.5em;
		width: calc(100% + 1.5em);
	}
}

.contact-links-row {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: space-around;
}

.tile-img {
	width: 300px;
	height: 300px;
}

#my-photo {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsibleJS {
	background-color: #141823;
	color: #fffafa;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 15px;
}

.collapsibleHTMLcss {
	background-color: #141823;
	color: #fffafa;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsibleJS:hover {
	background-color: #14185a;
}

.active,
.collapsibleHTMLcss:hover {
	background-color: #14185a;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

#qiita {
	margin-left: -10px;
	margin-right: -10px;
}
