body {
	margin: 0;
	font-family: candara;
	font-size: 14px;
	color: #141823;
	background-color: #fffafa;
	text-decoration: none;
	margin-left: 300px;
	margin-right: 300px;
}

h1 {
	font-size: 30px;
}
h2 {
	margin-bottom: 15px;
}
h3 {
	margin-bottom: 5px;
	font-size: 16px;
}
br {
	margin-bottom: 10px;
}

#welcome-section {
	color: #fffafa;
	background-color: #141823;
	margin-left: -300px;
	margin-right: -300px;
	display: flex;
	justify-content: center;
}

#navbar {
	margin-bottom: 10px;
}
.nav-link {
	text-decoration: none;
	color: #141823;
	font-size: 21px;
	padding-right: 10px;
	padding-left: 10px;
}

a img {
	border: 1px solid black;
	box-shadow: 2px 2px 2px 2px #808080;
}
a:hover img {
	opacity: 0.8;
}

.about-me {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
span {
	margin-left: 30px;
	line-height: 22px;
}
#resume {
	width: 100%;
	border-collapse: collapse;
	line-height: 30px;
}
td,
th {
	font-weight: normal;
}
tr:nth-child(odd) {
	background-color: #dddddd;
}

.contact-links {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #141823;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
}

footer {
	display: box;
	height: 150px;
	color: #fffafa;
	background-color: #141823;
	margin-right: -400px;
	margin-left: -400px;
	display: flex;
	justify-content: center;
}

#my-photo {
	border-radius: 50%;
	width: 150px;
}

#tile-img {
	width: 300px;
	height: 300px;
}

#profile {
	padding-left: 500px;
	padding-right: 500px;
}
@media only screen and (max-width: 1100px) {
	body {
		margin: 0;
		font-family: candara;
		font-size: 12px;
		line-height: 30px;
		background-color: #fffafa;
		margin-right: 5px;
		margin-left: 5px;
		text-decoration: none;
	}

	h1 {
		font-size: 20px;
	}
	h2 {
		margin-bottom: 15px;
	}
	h3 {
		margin-bottom: 10px;
		font-size: 10px;
	}
	br {
		margin-bottom: 10px;
	}

	#welcome-section {
		color: #fffafa;
		background-color: #141823;
		margin-right: -400px;
		margin-left: -400px;
		display: flex;
		justify-content: center;
	}

	#navigation-bar {
		text-align: center;
	}
	.nav-link {
		text-decoration: none;
		color: #141823;
		font-size: 14px;
	}

	#tile-img {
		width: 165px;
		height: 165px;
	}
	a img {
		border: 1px solid black;
		box-shadow: 2px 2px 2px 2px #808080;
	}
	a:hover img {
		opacity: 0.8;
	}

	.about-me {
		display: flex;
		flex-direction: row;
	}
	span {
		margin-left: 30px;
		line-height: 22px;
	}

	.contact-links {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-bottom: 20px;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	a:hover {
		color: #141823;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.8;
	}

	footer {
		display: box;
		height: 150px;
		color: #fffafa;
		background-color: #141823;
		margin-right: -400px;
		margin-left: -400px;
		display: flex;
		justify-content: center;
	}

	#profile {
		padding-left: 0px;
		padding-right: 0px;
	}
}
